@media (min-width: 768px) {
  .splash {
    height: 60vh;
  }

  .inner-splash {
    top: 50%;
  }

  .page-title {
    font-size: 40px;
  }

  .page-subtitle {
    font-size: 50px;
  }

  .services {
    margin-top: 55vh;
  }

}

@media (min-width: 992px) {

  .navbar,
  .wrapper {
    flex-direction: row;
  }

  .wrapper {
    justify-content: space-around;
  }
}